body {
	background: url("../img/bg.png");
	font-family: 'Open Sans', sans-serif;
}


/* NAVIGATION - ALL LINKS (Base Styling) */
nav li {
	float: left;
	list-style: none;
	margin: 0 20px 0 20px;
}

/* NAVIGATION - Link States */
nav a:link,
nav a:visited {
	background: ;
	padding: 20px 20px 20px 40px;
}

nav a:hover,
nav a:active {
	background: url;
}

/* Show first link on hover */
#first a:hover {
	background: url("../img/link-1.png") no-repeat left center;
}

/* Style Aside Image Round */
section img,
aside img {
	border-radius: ;
}

/* First Image Border  inside Section*/
section > img {
	border-radius: 50px;
}

/* Leading Paragraph*/
.alpha h3 + p,
section img + p {
	color: teal;
}

aside li ul > li {
	background: red;
}


/* Helper Classes */
.showgrid {
	background: url("../img/grid-bg.png") 
}